.getloss{
  position: absolute;
  top:75%;
  left:30%;
  width:500px;
  height:auto;
}
pre{

  width:100%;
}
h3{

    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
    color: #FF0030 !important;
    font-size: 39px;

}
.text{
  text-shadow: 0px 0px 7px rgba(0, 0,0.75, 0);
  color: green !important;

  font-size:10px;
}
.col-md-offset-3{
  text-align: center !important;
}