<div class=" backSide ">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <img src="../../assets/globals/download.png" class="images img-responsive img-rounded"></div>
            <div class="col-sm-6">
                <div class="element change">Travel Booking App</div>
                <div class="stepwizard col-md-offset-3">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a ui-sref=".userInfo" type="button" ng-class="classChange==0? 'btn-primary':'btn-default'" class="btn btn-circle"
                               ng-disabled="classChange==0?false:true">1</a>
                            <p>Step 1 </p>
                        </div>
                        <div class="stepwizard-step">
                            <a ui-sref=".datePick" type="button" ng-class="classChange==1? 'btn-primary':'btn-default'" class="btn btn-circle"
                               ng-disabled="classChange==1?false:true">2</a>
                            <p>Step 2</p>
                        </div>
                        <div class="stepwizard-step">
                            <a ui-sref=".confirm" type="button" ng-class="classChange==2? 'btn-primary':'btn-default'" class="btn  btn-circle"
                               ng-disabled="classChange==2?false:true">3</a>
                            <p>Step 3</p>
                        </div>
                    </div>

                </div>
                <!-- our nested state views will be injected here -->

                <div class="middle" id="form-views" ui-view></div>
            </div>
            <div class="col-sm-3">
                <img src="../../assets/globals/down.jpg" class="leftimages img-responsive img-rounded">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <footer class="footer-distributed">
                <div class="footer-left">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

                <div class="footer-left">

                    <p class="footer-links">
                        <a href="#">Home</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Contact</a>
                    </p>

                    <p><strong>Company Name</strong> &copy; MATHLETICS LLP</p>
                </div>

            </footer>
        </div>
    </div>

</div>

